body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 600;
	background: #FFFFFF;
	background-image: url(../img/background.svg);
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}


img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
}

ul, li {
	text-decoration: none;
	list-style: none;
}

button {

}

p {
	margin: 0;
}

nav {
	display: flex;
}

.section {

}

.nav-item:last-child {
	margin-left: 10px;
}

.header {
	margin-top: 10px;
}

.row {
	align-items: center;
}

.nav {
	align-items: center;
}

.nav-item {
	margin-right: 25px;
}

.nav-link-max{
	color: #FF6643;
}
.nav-link-nikita{
	color: #2F9DE0;
}
.nav-link-egor{
	color: #4F4359;
}
.nav-link-ilya{
	color: #67C6C0;
}
.nav-link-valera{
	color: #81BF58;
}

.texth1 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 72px;
	line-height: 88px;
	display: flex;
	align-items: center;
	color: #AF0000;
}

.texth2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	display: flex;
	align-items: center;
	color: #AF0000;
}

.texth3 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 61px;
	line-height: 74px;
	display: flex;
	align-items: center;
	color: #AF0000;
	margin-bottom: 350px;
}


.text {
	margin: 236px 0;
}

.card {
	overflow: hidden;
	transition: transform .4s;
}

.card:hover {
	transform: scale(1.3);
	transition: transform .4s;
	z-index: 2;
}
